*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    margin-top: auto;
    max-width: 720px;
    padding: 0 20px;
    margin: 50px auto;
}

body {
    margin: 0;
    line-height: 1.7;
    color: #2c2c54;
}

p{
    font-size: 18px;
    font-weight: 500;
}

h1{
    font-size: 24px;
    font-weight: 600;
}

h2{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}